
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 100px;
    border-radius: 120px;
    padding: 20px;
}

.search-box:hover > #search-txt {
    width: 320px;
    padding: 30px;
    color: #262626;
}

.search-icon {
    width: 80px;
    float: right;
    color: #000000;
    display: flex;
    transition: 0.4s;
    padding-top: 8px;
    padding-right: 8px;
}

.search-icon:hover {
    cursor: pointer;
}

#search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-top: 30px;
    color: #ffffff;
    font-size: 25px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}

.S-app {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.search-bg {
    background-image: url("../rsc/search-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: 1;
    overflow: auto;
}